<mat-card>
  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="personnalFormGroup">
      <form [formGroup]="personnalFormGroup">
        <ng-template matStepLabel>Personnal informations</ng-template>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="lastNameCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="firstNameCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="birthdayCtrl" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="authenticationFormGroup">
      <form [formGroup]="authenticationFormGroup">
        <ng-template matStepLabel>Authentication informations</ng-template>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" formControlName="emailCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="passwordCtrl" required>
          <mat-hint>between 8 and 16 characters included, with lowercase, uppercase, number and special character [!"#$%'()*+,-./:;=>?@\^_`|~] at least</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm" formControlName="confirmCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <mat-card class="summary">
        <mat-card-title>
          <h6>Personnal informations *</h6>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <p matLine>
                <span>Last name:</span>
                <span>{{personnalFormGroup.controls['lastNameCtrl'].value}}</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>
                <span>First name:</span>
                <span>{{personnalFormGroup.controls['firstNameCtrl'].value}}</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>
                <span>Brithday:</span>
                <span>{{personnalFormGroup.controls['birthdayCtrl'].value | date:'longDate'}}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <small>* You are the only one who can see them.</small>
        </mat-card-footer>
      </mat-card>
      <mat-card class="summary">
        <mat-card-title>
          <h6>Authentication informations *</h6>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <p matLine>
                <span>Email address:</span>
                <span>{{authenticationFormGroup.controls['emailCtrl'].value}}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <mat-icon>warning</mat-icon>
          <small>* Be careful, check it twice ! Needed for login later :)</small>
        </mat-card-footer>
      </mat-card>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onSubmit()">Confirm</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>
