h1.mat-dialog-title Do you really want delete your account ?
.mat-dialog-actions
  button((click)='onNoClick()' mat-button) No Thanks
  button((click)='onConfirm()' mat-raised-button cdkFocusInitial color='warn') Yes Please
