.summary {
  margin: 20px;
}

.summary mat-card-footer {
  text-align: right;
  padding: 5px;
}

.step-actions button {
  margin: 5px;
}

.address {
  display: flex;
}

#number {
  width: 60px;
  margin-right: 10px;
}

#way {
  flex: 1 1 auto;
}

#postalcode {
  width: 120px;
  margin-right: 10px;
}

#city {
  flex: 1 1 auto;
}