<mat-card>
  <mat-horizontal-stepper linear="true">
    <mat-step [stepControl]="personnalFormGroup">
      <form [formGroup]="personnalFormGroup">
        <ng-template matStepLabel>Personnal informations</ng-template>
        <mat-form-field>
          <mat-select placeholder="Gender" name="gender" formControlName="genderCtrl" required>
            <mat-option value="Mr">Mr</mat-option>
            <mat-option value="Mrs">Mrs</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" name="lname" formControlName="lastNameCtrl" autocomplete="family-name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="First Name" name="fname" formControlName="firstNameCtrl" autocomplete="given-name" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Birthday" name="birth" formControlName="birthdayCtrl" autocomplete="bday"
            required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>date_range</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input type="tel" matInput placeholder="Phone" name="tel" formControlName="phoneCtrl" autocomplete="tel" required>
        </mat-form-field>
        <div class="address">
          <mat-form-field id="number">
            <input type="number" matInput placeholder="N°" name="number" formControlName="addressNumberCtrl" autocomplete="number" required>
          </mat-form-field>
          <mat-form-field id="way">
            <input matInput placeholder="Way" name="way" formControlName="addressWayCtrl" autocomplete="way" required>
          </mat-form-field>
        </div>
        <div class="address">
          <mat-form-field id="postalcode">
            <input matInput placeholder="Postal code" name="postalcode" formControlName="addressPostalCodeCtrl" autocomplete="postalcode"
              required>
          </mat-form-field>
          <mat-form-field id="city">
            <input matInput placeholder="City" name="city" formControlName="addressCityCtrl" autocomplete="city" required>
          </mat-form-field>
        </div>
        <div class="step-actions">
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="authenticationFormGroup">
      <form [formGroup]="authenticationFormGroup">
        <ng-template matStepLabel>Authentication informations</ng-template>
        <mat-form-field>
          <input type="email" matInput placeholder="Email" name="email" formControlName="emailCtrl" autocomplete="email" required>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Password" name="password" formControlName="passwordCtrl" autocomplete="new-password"
            required>
          <mat-hint>between 8 and 16 included (lowercase, uppercase, number and [!"#$%'()*+,-./:;=>?@^_`|~] at least)</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput placeholder="Confirm" name="password" formControlName="confirmCtrl" autocomplete="new-password"
            required>
        </mat-form-field>
        <div class="step-actions">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Summary</ng-template>
      <mat-card class="summary">
        <mat-card-title>
          <h6>Personnal informations *</h6>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <p matLine>
                <span>Identity:</span>
                <span>{{personnalFormGroup.controls['genderCtrl'].value}}</span>
                <span>{{personnalFormGroup.controls['lastNameCtrl'].value}}</span>
                <span>{{personnalFormGroup.controls['firstNameCtrl'].value}}</span>
              </p>
            </mat-list-item>
            <mat-list-item>
              <p matLine>
                <span>Brithday:</span>
                <span>{{personnalFormGroup.controls['birthdayCtrl'].value | date:'longDate'}}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <small>* You are the only one who can see them.</small>
        </mat-card-footer>
      </mat-card>
      <mat-card class="summary">
        <mat-card-title>
          <h6>Authentication informations *</h6>
        </mat-card-title>
        <mat-card-content>
          <mat-list>
            <mat-list-item>
              <p matLine>
                <span>Email address:</span>
                <span>{{authenticationFormGroup.controls['emailCtrl'].value}}</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
        <mat-card-footer>
          <mat-icon>warning</mat-icon>
          <small>* Be careful, check it twice ! Needed for login later :)</small>
        </mat-card-footer>
      </mat-card>
      <div class="step-actions">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="onSubmit()">Confirm</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</mat-card>