extends ../layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='signup-form', method='POST', action='/api/user/signup')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-3.control-label(for='date') First Name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname', placeholder='First Name', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='date') Last Name
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname', placeholder='Last Name', required)
    .form-group
      label.col-sm-3.control-label(for='date') Birthdate
      .col-sm-7
        .nativeDatePicker
          input.form-control(type='date', name='birthdate', id='birthdate', placeholder='Birthdate', required)
        .fallbackDatePicker
          span
            label(for="day")
            select(id="day", name="day")
          span
            label(for="month")
            select(id="month", namr="month")
              option(selected) January
              option February
              option March
              option April
              option May
              option June
              option July
              option August
              option September
              option October
              option November
              option December
          span
            label(for="year")
            select(id="year", name="year")
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='E-mail', required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
  script(src="/js/datepicker.js")
