<div class="container">
  <mat-card>
    <mat-card-content>
      <div class="flex">
        <span class="fill"></span>
        <span>
          <i class="fas fa-user-circle fa-7x"></i>
        </span>
        <span class="fill"></span>
      </div>
      <h1>Account</h1>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>Gender</mat-label>
          <mat-select placeholder="Select your gender">
            <mat-option>M</mat-option>
            <mat-option>Mrs</mat-option>
          </mat-select>
          <i class="fas fa-user fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Firstname</mat-label>
          <input type="text" matInput placeholder="Enter your firstname">
          <i class="fas fa-user fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Lastname</mat-label>
          <input type="text" matInput placeholder="Enter your lastname">
          <i class="fas fa-user fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Birthdate</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Enter your birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Phone</mat-label>
          <input type="tel" matInput placeholder="Enter your phone number">
          <i class="fas fa-phone fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-divider inset="true"></mat-divider>
        <mat-form-field appearance="outline">
          <mat-label>N°</mat-label>
          <input type="number" matInput placeholder="Enter your way number">
          <i class="fas fa-list-ol fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Way</mat-label>
          <input type="text" matInput placeholder="Enter your way name">
          <i class="fas fa-road fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Postal code</mat-label>
          <input type="number" matInput placeholder="Enter your postal code">
          <i class="fas fa-university fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <input type="text" matInput placeholder="Enter your city">
          <i class="fas fa-university fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-divider inset="true"></mat-divider>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Enter your email">
          <i class="fas fa-envelope fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter your password">
          <i class="fas fa-key fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm</mat-label>
          <input type="password" matInput placeholder="Confirm your password">
          <i class="fas fa-key fa-2x" matSuffix></i>
          <mat-hint>Hint</mat-hint>
        </mat-form-field>
        <div class="flex">
          <span class="fill"></span>
          <span>
            <button type="submit" mat-stroked-button color="primary">Save</button>
          </span>
          <span class="fill"></span>
        </div>
      </form>
      <div class="flex">
        <span class="fill"></span>
        <span>
          <button mat-raised-button color="warn">Delete</button>
        </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
