<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a routerLink="/rooms/room/">
        <mat-card>
          <mat-card-content>
            <div class="flex">
              <span class="fill"></span>
              <span>
                <i class="fas fa-home fa-3x"></i>
              </span>
              <span class="fill"></span>
            </div>
            <h1>Title</h1>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
