extends ../layout

block content
  .holds(style="position: absolute;margin: auto;top: 0;right: 0;bottom: 0;left: 0;width: 100px;height: 100px;overflow: hidden;text-align: center;")
    p Activate holds
    label(class="switch")
      input(type="checkbox", id="chkbx")
      span(class="slider round", style="display: inline-block;")
