footer.flex.center
    span: a(mat-button href='https://github.com/KlymbR/dashboard')
            i.fab.fa-github
            span Github project
    span: a(mat-button href='https://github.com/KlymbR/dashboard/issues')
            i.fab.fa-github
            span Issues
    span.fill
    span.flex.center
        i.far.fa-copyright
        span 2018 Klymbr, Inc. All rights reserved.
