<div mat-dialog-content>
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Login">
      <app-login (logged)="logged($event)"></app-login>
    </mat-tab>
    <mat-tab label="Social">
        <app-social (linked)="linked($event)"></app-social>
      </mat-tab>
      <mat-tab label="Inscription">
      <app-inscription (registered)="registered($event)"></app-inscription>
    </mat-tab>
    <mat-tab label="Recovery">
      <app-forgot (mailed)="mailed($event)"></app-forgot>
    </mat-tab>
  </mat-tab-group>
  <mat-progress-bar id="load" mode="indeterminate" *ngIf="loading"></mat-progress-bar>
</div>
