header.flex
    span.fill
    span.gradient: a(href='/') Klymbr
    span.fill
.menu-container(*ngIf='connected')
    button(mat-button '[matMenuTriggerFor]'='menu' color='accent')
        span.m-right {{ settingsName }}
        i.fas.fa-cog.fa-2x
    mat-menu(#menu='matMenu')
        button.item(mat-menu-item routerLink='/rooms')
            i.fas.fa-home.m-right
            span Rooms
        button.item(mat-menu-item routerLink='/account')
            i.fas.fa-user.m-right
            span Account
        button.item(*ngIf='admin' mat-menu-item routerLink='/administration')
            i.fab.fa-superpowers.m-right
            span Administration
        button.item(mat-menu-item routerLink='/login')
            i.fas.fa-sign-out-alt.m-right
            span Sign out
button.login(*ngIf='!connected && notLogin()' mat-stroked-button color='accent' routerLink='/login') Login