section {
  text-align: justify;
  align-items: center;
}

section>*,
h1 {
  color: white;
}

h2 {
  font-size: 25px;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
}

a {
  text-decoration: none;
}
