.mat-card-project {
  max-width: 48%;
  min-height: 300px;
  margin: 1%;
  display: inline-flex;
  float: none;
  text-align: justify;
  align-items: center;
}
@media only screen and (max-width: 1400px) {
  .mat-card-project {
    max-width: 100%;
  }
}
.mc-title {
  font-size: 25px;
}
