h1(class='text-center') We are creating the future of climbing
.container-fluid: .row
  mat-card(class='mat-card-project')
    mat-card-header
      mat-card-title(class='mc-title') The Project
    mat-card-content
      p The members of the KlymbR group revolutionize the practice of climbing. The project allows indoor climbers to obtain a luminous signage allowing him to display the tracks adapted to his mastery. In addition to this function for more experienced practitioners, you can use the KlymbR wall to warm up on dynamic blocks. On top of that, the discovery of this sport has never been easier thanks to the practice of fun mini games for beginners.
      p Independent but complementary, a precise physiological monitoring of the climber equipped with the connected T-Shirt KlymbR, thanks to its cardiac sensor and its altimeter. To free the user of his phone, the physiological data acquired via our T-Shirt are transferred to the mobile application after the session (indoor and outdoor), upon request.
      p Physiological data and performances, archived by us, are accessible in synthetic form in our web and mobile applications, configurable at the discretion of the user.
  mat-card(class='mat-card-project')
    mat-card-header
      mat-card-title(class='mc-title') The Innovation
    mat-card-content
      p With a good marketing, KlymbR has the potential to become the leader of the market share. The main attribute is the fact that there are no modifications needed to install the holds: it is <strong>plug'n'play</strong>! This reduce the cost of the installation in already existing climbing gyms.
      p Also the T-Shirt is another advantage for climbers: it is the <strong>first ever</strong> conected device that is not restrictive of any movements for the climbers.
.text-center 
  a(href='mailto:contact@klymbr.com' class='btn btn-info btn-lg') Contact Us!
