mat-progress-bar.page-load(*ngIf='loading' mode='indeterminate')
.container-fluid: .row
    .col-lg-2.col-md-4.col-sm-6: a(routerLink='/rooms/room'): mat-card: mat-card-content
        .flex
            span.fill
            span: i.fas.fa-home.fa-3x
            span.fill
        h1 Title
