<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          <app-signin></app-signin>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <app-social></app-social>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <app-recovery></app-recovery>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card>
        <mat-card-content>
          <app-subscribe></app-subscribe>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
