<div class="flex">
  <span class="fill"></span>
  <span>
    <i class="fas fa-users fa-7x"></i>
  </span>
  <span class="fill"></span>
</div>
<h1>Social</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 text-center">
      <button mat-raised-button class="facebook">
        <i class="fab fa-facebook fa-2x"></i>
        <mat-label>SIGN IN WITH FACEBOOK</mat-label>
      </button>
    </div>
    <div class="col-lg-6 text-center">
      <button mat-raised-button class="google">
        <i class="fab fa-google-plus-g fa-2x"></i>
        <mat-label>SIGN IN WITH GOOGLE</mat-label>
      </button>
    </div>
  </div>
</div>
