.is-mobile .toolbar {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  flex: 1;
}

.is-mobile .sidenav-container {
  flex: 1 0 auto;
}

mat-sidenav {
  background-color: rgb(235, 235, 235);
  min-width: 200px;
}

mat-divider {
  margin-top: 10px;
}