<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <a routerLink="/rooms/room/way">
        <mat-card>
          <mat-card-content>
            <div class="flex">
              <span class="fill"></span>
              <span>
                <i class="fas fa-allergies fa-3x"></i>
              </span>
              <span class="fill"></span>
            </div>
            <h1>N°</h1>
            <p>Difficulty:</p>
            <div class="flex">
              <span class="fill"></span>
              <span>
                <i class="fas fa-lock fa-2x"></i>
                <i class="fas fa-unlock fa-2x"></i>
              </span>
              <span class="fill"></span>
            </div>
            <div class="flex">
              <span class="fill"></span>
              <span>
              </span>
              <span class="fill"></span>
            </div>
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
</div>
