<div class="flex">
  <span class="fill"></span>
  <span>
    <i class="fas fa-user-circle fa-7x"></i>
  </span>
  <span class="fill"></span>
</div>
<h1>Sign in</h1>
<form (submit)="onSubmit()" [formGroup]="signinFormGroup">
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Enter your email" name="email" formControlName="emailCtrl" autocomplete="email"
      required>
    <i class="fas fa-envelope fa-2x" matSuffix></i>
    <mat-error *ngIf="signinFormGroup.controls['emailCtrl'].hasError('required')">You must enter an email</mat-error>
    <mat-error *ngIf="signinFormGroup.controls['emailCtrl'].hasError('email')">Not a valid email</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Enter your password" name="password" formControlName="passwordCtrl" autocomplete="current-password"
      required>
    <i class="fas fa-key fa-2x" matSuffix></i>
    <mat-error *ngIf="signinFormGroup.controls['passwordCtrl'].hasError('required')">You must enter a password</mat-error>
  </mat-form-field>
  <div class="remember">
    <mat-checkbox color="primary" [(ngModel)]="remember" [ngModelOptions]="{standalone: true}">Remember me!</mat-checkbox>
  </div>
  <div class="flex">
    <span class="fill"></span>
    <span>
      <button type="submit" mat-stroked-button color="primary">Sign in</button>
    </span>
    <span class="fill"></span>
  </div>
</form>
<mat-progress-bar class="load" mode="indeterminate"></mat-progress-bar>
