<div class="flex">
  <span class="fill"></span>
  <span>
    <i class="fas fa-user-circle fa-7x"></i>
  </span>
  <span class="fill"></span>
</div>
<h1>Sign in</h1>
<form>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Enter your email">
    <i class="fas fa-envelope fa-2x" matSuffix></i>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput placeholder="Enter your password">
    <i class="fas fa-key fa-2x" matSuffix></i>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <div class="remember">
    <mat-checkbox color="primary">Remember me!</mat-checkbox>
  </div>
  <div class="flex">
    <span class="fill"></span>
    <span>
      <button type="submit" mat-stroked-button color="primary">Sign in</button>
    </span>
    <span class="fill"></span>
  </div>
</form>
