<footer class="flex center">
  <span>
    <a mat-button href="https://github.com/KlymbR/dashboard">
      <i class="fab fa-github"></i>
      <span>Github project</span>
    </a>
  </span>
  <span>
    <a mat-button href="https://github.com/KlymbR/dashboard/issues">
      <i class="fab fa-github"></i>
      <span>Issues</span>
    </a>
  </span>
  <span class="fill"></span>
  <span class="flex center">
    <i class="far fa-copyright"></i>
    <span>2018 Klymbr, Inc. All rights reserved.</span>
  </span>
</footer>
