@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

#loading {
  margin: auto;
  display: block;
}

.basic-container {
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form>* {
  width: 100%;
}

.fill-remaining-space {
  flex: 1 1 auto;
}