.container-fluid: .row
    .col-lg-6
        mat-card: mat-card-content: app-signin
        mat-card: mat-card-content: app-social
        mat-card: mat-card-content: app-recovery
    .col-lg-6: mat-card: mat-card-content: app-subscribe
