#account {
  max-width: 910px;
  margin: auto;
}

mat-form-field {
  width: 100%;
}

.block,
form {
  display: inline-block;
  min-width: 260px;
  max-width: 400px;
  width: 90%;
  margin: 0 10px 10px 0;
  vertical-align: top;
}

mat-card-footer {
  padding: 10px;
  text-align: right;
}

#delete {
  background-color: crimson;
  color: white;
}
