<div class="title">
  <div class="flex">
    <span class="fill"></span>
    <span>
      <i class="fas fa-allergies fa-3x"></i>
    </span>
    <span class="fill"></span>
  </div>
  <h1>N°</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6">
      <mat-card>
        <mat-card-content>
          <div class="flex">
            <span class="fill"></span>
            <span>
              <i class="fas fa-hand-rock fa-3x"></i>
            </span>
            <span class="fill"></span>
          </div>
          <h1>N°</h1>
          <p>Data:</p>
          <div class="flex">
            <span class="fill"></span>
            <span>
              <i class="fas fa-plug fa-2x"></i>
            </span>
            <span class="fill"></span>
          </div>
          <div class="flex">
            <span class="fill"></span>
            <span>
            </span>
            <span class="fill"></span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
