<ng-container *ngIf="path">
  <h1>Path n°{{ path.path_id }}</h1>
  <h2>Difficulty {{ path.path_difficulty }}</h2>
  <button mat-fab color="primary" (click)="toogleFree()">
    <mat-icon *ngIf="!path.path_free">lock</mat-icon>
    <mat-icon *ngIf="path.path_free">lock_open</mat-icon>
  </button>
  <div *ngIf="stats">
    <h3>Statistics</h3>
    <mat-card *ngFor="let stat of stats">
      <mat-card-header>{{ stat.best_firstName }} {{ stat.best_lastName }}</mat-card-header>
      <mat-card-content>
        <span>Average time: {{ stat.average_time }}</span>
        <span>Best time: {{ stat.best_time }}</span>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <h3>Grips</h3>
    <mat-card *ngFor="let grip of path.grips">
      <mat-card-header>N° {{ grip.grip_id }}</mat-card-header>
      <mat-card-content>
        <br>
        <span>Data: {{ grip.grip_data }}</span>
        <br>
        <br>
        <mat-icon *ngIf="!grip.grip_on">power_off</mat-icon>
        <mat-icon *ngIf="grip.grip_on">power</mat-icon>
      </mat-card-content>
    </mat-card>
  </div> 
  <div></div>
</ng-container>