<div class="flex">
  <span class="fill"></span>
  <span>
    <i class="fas fa-question-circle fa-7x"></i>
  </span>
  <span class="fill"></span>
</div>
<h1>Recovery</h1>
<form>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email" matInput placeholder="Enter your email">
    <i class="fas fa-envelope fa-2x" matSuffix></i>
    <mat-hint>Hint</mat-hint>
  </mat-form-field>
  <div class="flex">
    <span class="fill"></span>
    <span>
      <button type="submit" mat-stroked-button color="primary">Recover</button>
    </span>
    <span class="fill"></span>
  </div>
</form>
